<footer class="py-5 bg-dark footer">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Kyran Adams 2020. Made with ❤️by Kyran Adams. </p
		<div class="container-fluid text-white social-media-buttons mt-4">
			<!--Grid row-->
			<div class="row">

				<!--Grid column-->
				<div class="col-md-12">
					<div class="text-center mb-5">
						<a type="button" class="btn btn-social-icon btn-twitter btn-rounded" href="https://twitter.com/Kyran_Adams"><i class="fa fa-twitter"></i></a>
						<a type="button" class="btn btn-social-icon btn-linkedin btn-rounded" href="http://linkedin.com/in/kyranadams"><i class="fa fa-linkedin"></i></a>
						<a type="button" class="btn btn-social-icon btn-instagram btn-rounded" href="https://www.instagram.com/kpa.pa/"><i class="fa fa-instagram"></i></a>
						<a type="button" class="btn btn-social-icon btn-instagram btn-rounded" href="http://github.com/kyranstar"><i class="fa fa-github"></i></a>
						<a type="button" class="btn btn-social-icon btn-instagram btn-rounded" href="mailto:kyran.park.adams@gmail.com"><i class="fa fa-envelope"></i></a>
					</div>
				</div>
				<!--Grid column-->
			</div>
		</div>>
    </div>
    <!-- /.container -->
</footer>

