<style>
/* Header Parallax Element Style*/ 
.parallax-foreground {
	position:absolute; 
	top: 0;
	left: 0;
	z-index: 3;
	min-width: 100%;
	max-height: 100vh;
}
.parallax-background {
	left: 0;
	z-index: 1;
	min-width: 100%;
	max-height: 100vh;
}
.parallax {
	position: fixed;
	top: 120px;
	z-index: 2;
	left: 50%;
}
#nametitle {
	position: absolute;
	color: white;
	font-family: 'Helvetica Neue', sans-serif; font-size: 100px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;
	z-index: 4;
	transform: translate(-50%, 0%);
}
#namesubtitle {
	position: absolute;
	color: white;
	font-family: 'Helvetica Neue', sans-serif; font-size: 60px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;
	z-index: 4;
	transform: translate(-50%, 0%);
}

.arrow {
    opacity: 0;
    position: absolute;
        left: 50%;
        top: 95%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
	z-index: 5;
}

.arrow-first {
    animation: arrow-movement 2s ease-in-out infinite;
}
.arrow-second {
    animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px; 
    position: absolute;
        top: 0;
        left: 0;
    width: 30px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

@keyframes arrow-movement {
    0% { 
        opacity: 0;
        top: 90%;
    }
    70% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}


</style>


<!-- First Parallax Section -->
<img alt="100x100" class="img-responsive parallax-foreground"
                 data-holder-rendered="true"
                 src="/assets/files/silhouette.png">
<img alt="100x100" id="mountains" class="img-responsive parallax-background"
                 data-holder-rendered="true"
                 src="/assets/files/parallax_background.png">
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="sun" class="parallax">
     <circle id="suncircle" cx = "150" cy = "75" r = "75" fill = "orange"/>
</svg>

<a href="/"><h1 id="nametitle">
kyran adams.
</h1></a>
<div class="arrow arrow-first d-none d-md-block"></div>
<div class="arrow arrow-second d-none d-md-block"></div>


				 
<script> 
function hex (c) {
  var s = "0123456789abcdef";
  var i = parseInt (c);
  if (i == 0 || isNaN (c))
    return "00";
  i = Math.round (Math.min (Math.max (0, i), 255));
  return s.charAt ((i - i % 16) / 16) + s.charAt (i % 16);
}

/* Convert an RGB triplet to a hex string */
function convertToHex (rgb) {
  return '#' + hex(rgb[0]) + hex(rgb[1]) + hex(rgb[2]);
}

/* Remove '#' in color hex string */
function trim (s) { return (s.charAt(0) == '#') ? s.substring(1, 7) : s }

/* Convert a hex string to an RGB triplet */
function convertToRGB (hex) {
  var color = [];
  color[0] = parseInt ((trim(hex)).substring (0, 2), 16);
  color[1] = parseInt ((trim(hex)).substring (2, 4), 16);
  color[2] = parseInt ((trim(hex)).substring (4, 6), 16);
  return color;
}

function generateColor(colorStart,colorEnd,colorCount){

	// The beginning of your gradient
	var start = convertToRGB (colorStart);    

	// The end of your gradient
	var end   = convertToRGB (colorEnd);    

	// The number of colors to compute
	var len = colorCount;

	//Alpha blending amount
	var alpha = 0.0;

	var saida = [];
	
	for (i = 0; i < len; i++) {
		var c = [];
		alpha += (1.0/len);
		
		c[0] = start[0] * alpha + (1 - alpha) * end[0];
		c[1] = start[1] * alpha + (1 - alpha) * end[1];
		c[2] = start[2] * alpha + (1 - alpha) * end[2];

		saida.push(convertToHex (c));
		
	}
	
	return saida;
	
}


$(window).on('load', function() {
	var titleheight = $(window).width()/20;
	$('#nametitle').css({
		//top: $('#mountains').offset().top + $('#mountains').height() - titleheight - 10,
		top: $('#mountains').offset().top + 10,
		left: "50%", 
		fontSize: titleheight
	})
});

var sunGradient = generateColor('#7A2C3F','#FF7451',20);
$('#suncircle').attr('r', $(window).width()/24)
$('#suncircle').attr('cy', $(window).width()/24)
$('#suncircle').attr('cx', $(window).width()/9)
$('#suncircle').css({fill: sunGradient[0]})


$.fn.followTo = function (target) {
    var $this = this,
        $window = $(window);
	var sun = $('#suncircle')[0];

    $window.scroll(function (e) {
		var pos = $(target).offset().top + $(target).height() - sun.r.animVal.value*2;
		
		var colInd = Math.floor(sunGradient.length * ($window.scrollTop() / pos));
		if (!isFinite(colInd)){
			colInd = 0;
		}
		var fillCol = sunGradient[colInd];
		var yDist = 120
		
        if ($window.scrollTop() + yDist > pos) {
            $this.css({
                position: 'absolute',
                top: pos
            });
        } else {
            $this.css({
                position: 'fixed',
                top: yDist
            });
        }
		$('#suncircle').css({fill: fillCol})
    });
};

$('#sun').followTo('#mountains');

</script>