<div class="container-fluid text-white">

    <!--Grid row-->
    <div class="row text-center justify-content-md-center">

        <!--Grid column-->
        <div class="col-md-10 my-4">

            <img alt="100x100" class="rounded-circle z-depth-2 img-responsive img-thumbnail"
                 data-holder-rendered="true"
                 src="/assets/files/profile.jpg">
            <!-- No Shadow <img class="rounded-circle" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
            data-holder-rendered="true">  -->
            <h1 id="nameTitle" class="mt-5 h1">Kyran Adams</h1>
            <h4 class="mb-3 h4">Data Scientist</h4>


        </div>
        <!--Grid column-->

    </div>
    <div class="row text-center justify-content-md-around">

        <!--Grid column-->
        <div class="col-md-12">
            <a class="btn btn-outline-light" href="mailto:kyran.park.adams@gmail.com" type="button">Contact</a>
			<a class="btn btn-outline-light" href="/assets/files/resume.pdf" type="button">Resume</a>
        </div>
        <!--Grid column-->
		
    </div>

</div>
<div class="container-fluid text-white social-media-buttons mt-4">
    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-12">
            <div class="text-center mb-5">
                <a type="button" class="btn btn-social-icon btn-twitter btn-rounded" href="https://twitter.com/Kyran_Adams"><i class="fa fa-twitter"></i></a>
                <a type="button" class="btn btn-social-icon btn-linkedin btn-rounded" href="http://linkedin.com/in/kyranadams"><i class="fa fa-linkedin"></i></a>
                <a type="button" class="btn btn-social-icon btn-instagram btn-rounded" href="https://www.instagram.com/kpa.pa/"><i class="fa fa-instagram"></i></a>
                <a type="button" class="btn btn-social-icon btn-instagram btn-rounded" href="http://github.com/kyranstar"><i class="fa fa-github"></i></a>
                <a type="button" class="btn btn-social-icon btn-instagram btn-rounded" href="mailto:kyran.park.adams@gmail.com"><i class="fa fa-envelope"></i></a>
            </div>
        </div>
        <!--Grid column-->
    </div>
</div>


