{% include head.html %}

<body>

<div class="container-fluid">
    <div class="">
    <div class="row">
        <div class="col-md-2 no-float bg-primary">
            {% include sidebar.html %}
        </div>
        <div class="col-md-10 no-float">
            <div class="container">
                <!-- Navigation -->
                {% include navigation.html %}

                <ul class="timeline">

                    {% assign experiences_sorted = site.experiences | sort: 'start_date' | reverse %}
                    {% for experience in experiences_sorted %}
                        <li>
                            <a target="_blank" href="{{ experience.link }}">{{ experience.title }}</a>
                            {% if experience.end_date %}
                            <a href="{{ experience.link }}" class="float-right">{{ experience.start_date | date: "%m/%d/%Y"}} - {{experience.end_date | date: "%m/%d/%Y"}}</a>
                            {% else %}
                            <a href="{{ experience.link }}" class="float-right">{{ experience.start_date | date: "%m/%d/%Y"}} - Present</a>
                            {% endif %}
                            <p>{{experience.content | markdownify}}</p>
                        </li>
                    {% endfor %}
			    </ul>
            </div>
        </div>
    </div>
        </div>
    {% include footer.html %}
</div>
<!-- /.container -->

<!-- Footer -->


<!-- Bootstrap core JavaScript -->
<script src="/assets/js/jquery/jquery.min.js"></script>
<script src="/assets/js/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
